@import "atoms/variables.css";

.bitbook {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-gap: 0px 0px;
  height: 100%;
  grid-template-areas:
    "Header Header Header Header"
    "Sidebar Body Body Body"
    "Footer Footer Footer Footer";

  @media (max-width: 767px) {
    grid-template-columns: min-content 1fr 1fr 1fr;
  }
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 50px;
  border-radius: 5px;
  align-items: center;
  background-color: var(--accent-color);
  opacity: 0.8;
  border: 1px solid var(--accent-border);
  font-size: 1.5em;
  text-align: center;
  grid-area: Header;
}

.footer {
  grid-area: Footer;
}

.body {
  grid-area: Body;
}

.sidebar {
  grid-area: Sidebar;
}
