.orderbook {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
}

.title {
  width: 100%;
  text-align: center;
  grid-area: header;
}

.bids {
  grid-area: left;
}

.asks {
  grid-area: right;
}

.controls {
  grid-area: footer;
  justify-self: center;
}

.tabular {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
}
