@import "atoms/variables.css";

.footer {
  display: flex;
  width: 100%;
  align-items: center;
}

.status {
  min-width: 15px;
  min-height: 15px;
  border-radius: 50%;
  background-color: var(--status-color-default);
}

.status--good {
  background-color: var(--status-color-good);
}

.status--info {
}

.statuis--error {
}
